<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    {% load static %}
  <!-- BASICS -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>തേങ്ങാക്കൊല</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/isotope.css' %}" media="screen" />
  <link rel="stylesheet" href="{% static 'js/fancybox/jquery.fancybox.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
  <link href="{% static 'css/responsive-slider.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <!-- skin -->
  <link rel="stylesheet" href="{% static 'skin/default.css' %}">
  <!-- =======================================================
    Theme Name: Green
    Theme URL: https://bootstrapmade.com/green-free-one-page-bootstrap-template/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>


  <div class="header">
    <section id="header" class="appear">

      <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-bars color-white"></span>
          </button>
          <h1><a class="navbar-brand" href="index.html" data-0="line-height:90px;" data-300="line-height:50px;">തേങ്ങാക്കൊല
            </a></h1>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
            <li class="active"><a href="#header">ഇവിടെ വാ</a></li>
            <li><a href="#section-about">കേറിക്കോ</a></li>
            <li><a href="#line-pricing">ചുമ്മാ</a></li>
            <li><a href="#section-works">വെറുതെ</a></li>
            <li><a href="#section-contact">ഓയ്</a></li>
          </ul>
        </div>
        <!--/.navbar-collapse -->
      </div>


    </section>
  </div>


  <div class="slider">
    <div id="about-slider">
      <div id="carousel-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators visible-xs">
          <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-slider" data-slide-to="1"></li>
          <li data-target="#carousel-slider" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active" style="background-image: url(../static/img/1.jpg);">
            <div class="carousel-caption">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                <h2>തേങ്ങാക്കൊല </h2>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>Yes I mean it!</p>
                </div>
              </div>
              
            </div>
          </div>

          <div class="item" style="background-image: url(../static/img/2.jpg);">
            <div class="carousel-caption">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
                <h2>തേങ്ങാ പറിക്കാൻ ആളുണ്ട് </h2>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>Its true</p>
                </div>
              </div>
            </div>
          </div>

          <div class="item" style="background-image: url(../static/img/2.jpg);;">
            <div class="carousel-caption">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
                <h2>തേങ്ങാ പറിക്കാൻ തെങ്ങ്  ഉണ്ടോ ?</h2>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>എന്താല്ലേ ;)</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>

        <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
      <!--/#carousel-slider-->
    </div>
    <!--/#about-slider-->
  </div>
  <!--/#slider-->

  <!--about-->
  <section id="section-about">
    <div class="container">
      <div class="about">
        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="title">
              <div class="wow bounceIn">

                <h2 class="section-heading animated" data-animation="bounceInUp">LOGIN</h2>


              </div>
            </div>
          </div>
        </div>
      <!--               -->
      <div class="col-md-4">
        <div class="pricing-table-wrap" data-scrollreveal="enter top over 0.5s after 0.3s">
          <ul>
            <li class="line-head-row">
              Tree Climber Login
            </li>
            <form method="POST">
                {% csrf_token %}
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Username" data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="password" name="name" class="form-control" id="name" placeholder="Password" data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
            </form>
            <form action="http://127.0.0.1:8000/climber">
              <div class="text-center"><button type="submit" class="line-btn green">LOGIN</button></div>
            </form>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="pricing-table-wrap" data-scrollreveal="enter top over 0.5s after 0.3s">
          <ul>
            <li class="line-head-row">
              Customer Login
            </li>
            <form method="POST">
                {% csrf_token %}
              <div class="form-group">
                <input type="text" name="u" class="form-control" id="name" placeholder="Username" data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="password" name="p" class="form-control" id="name" placeholder="Password" data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
            </form>
            <form action="http://127.0.0.1:8000/listo">
              <div class="text-center"><button type="submit" class="line-btn green">LOGIN</button></div>
            </form>
          </ul>
        </div>
      </div>






      </div>

    </div>
  </section>
  <!--/about-->

  <!-- spacer section:stats -->
  <section id="parallax1" class="section pad-top40 pad-bot40 mar-bot20" data-stellar-background-ratio="0.5">
    <div class="container ">
      <div class="align-center pad-top40 pad-bot40">
        <h4 class="color-white pad-top50">നാളികേരം</h4>
        <p class="color-white">തെങ്ങിന്റെ ഫലമാണ്‌ തേങ്ങ അഥവാ നാളികേരം. ഇതിന്റെ മേൽ ആവരണമായ തൊണ്ടും ചകിരിയും തെങ്ങിൻ മുകളിൽ നിന്നും വീഴുന്ന ആഘാതത്തിൽ നിന്നും വിത്തിനെ സംരക്ഷിച്ചു നിർത്തുന്നു. ഇതു കൂടാതെ കട്ടിയേറിയ ചിരട്ടയും വെളുത്ത കാമ്പും സ്വാദിഷ്ഠമായ വെള്ളവുമാണ്‌ തേങ്ങയുടെ ഭാഗങ്ങൾ. തേങ്ങയുടെ പുറത്തെ ആവരണമായ തൊണ്ടും ചകിരിയും നീക്കം ചെയ്താണ് (പൊതിച്ച്) വ്യാപാര മേഖലയിൽ ഇതിന്റെ തൂക്കം നോക്കുന്നത്. നാളികേരം വിളഞ്ഞു പാകമാകുന്നതിനു മുൻപുള്ള അവസ്ഥയിൽ അതിനെ ഇളനീർ അല്ലെങ്കിൽ കരിക്ക് എന്ന് പറയുന്നു. ഈ അവസ്ഥയിൽ ഉള്ളിൽ നിറയെ സ്വാദിഷ്ഠമായ വെള്ളവും ഇളം കാമ്പും കൊണ്ട് സമൃദ്ധമാണിത്..</p>
      </div>
    </div>
  </section>
  <section id="line-pricing" class="line-section line-center">
    <div class="container pad-top50">

    </div>
  </section>

  <!-- spacer section:testimonial -->
  <section id="testimonials-2" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="align-center">
            <div class="testimonial pad-top40 pad-bot40 clearfix">
              <h5>
                  വിളഞ്ഞ തേങ്ങയുടെ നീരാണ് തേങ്ങാപ്പാൽ. ചിരകിയ തേങ്ങ പിഴിഞ്ഞാണ് തേങ്ങാപ്പാലെടുക്കുന്നത്. പായസം, കറികൾ എന്നിവയുണ്ടാക്കാനും, സൗന്ദര്യവർദ്ധകവസ്തുവായും തേങ്ങാപ്പാലുപയോഗിക്കുന്നു.
              </h5>
              <br />
              <span class="author">&mdash; അടക്കയായാൽ മടിയിൽ വെക്കാം തേങ്ങയായാലോ?</span>
            </div>

          </div>
        </div>
      </div>

    </div>

  </section>

  <!-- section works -->
  <section id="section-works" class="section appear clearfix">
    <div class="container">

      <div class="row">
      
        <div class="col-md-12">
          <div class="row">
            <div class="portfolio-items isotopeWrapper clearfix" id="3">

              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                  <div class="wow bounceIn">
                    <img src="img/portfolio/2.jpg" alt="" />
                  </div>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Project name 2</a></h5>
                      <a href="{% static 'img/portfolio/2.jpg' %}" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>


              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                  <div class="wow rotateInDownRight">
                    <img src="img/portfolio/3.jpg" alt="" />
                  </div>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Project name 3</a></h5>
                      <a href="{% static 'img/portfolio/3.jpg' %}" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem print">
                <div class="portfolio-item">
                  <div class="wow rotateInUpLeft">
                    <img src="img/portfolio/4.jpg" alt="" />
                  </div>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Project name 4</a></h5>
                      <a href="{% static 'img/portfolio/4.jpg' %}" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                  <div class="wow bounceIn">
                    <img src="img/portfolio/5.jpg" alt="" />
                  </div>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Project name 5</a></h5>
                      <a href="{% static 'img/portfolio/5.jpg' %}" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem webdesign">
                <div class="portfolio-item">
                  <div class="wow rotateInDownRight">
                    <img src="img/portfolio/6.jpg" alt="" />
                  </div>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Project name 6</a></h5>
                      <a href="img/portfolio/6.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem print">
                <div class="portfolio-item">
                  <div class="wow rotateInUpLeft">
                    <img src="img/portfolio/7.jpg" alt="" />
                  </div>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Project name 7</a></h5>
                      <a href="img/portfolio/7.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                  <div class="wow bounceIn">
                    <img src="img/portfolio/8.jpg" alt="" />
                  </div>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Project name 8</a></h5>
                      <a href="img/portfolio/8.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem print">
                <div class="portfolio-item">
                  <div class="wow rotateInDownRight">
                    <img src="img/portfolio/9.jpg" alt="" />
                  </div>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Project name 9</a></h5>
                      <a href="img/portfolio/9.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>
            </div>

          </div>


        </div>
      </div>

    </div>
  </section>

  <section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
    <div class="align-center pad-top40 pad-bot30">
      <h4 class="color-white pad-top50">ഔഷധഗുണങ്ങൾ</h4>
      <p class="color-white">വെറും തേങ്ങ മാത്രം കഴിച്ചാൽ നമുക്കു വേണ്ട പോഷകങ്ങളെല്ലാം കിട്ടും. ഇന്ദ്രിയങ്ങൾക്ക് ഹിതകരം , ഗുണങ്ങൾ നോക്കിയാൽ ഏറ്റവും ഉത്തമം, പോഷകശാസ്ത്രപരമായി ഒന്നാം സ്ഥാനത്ത്. ഇത് നമുക്കായി നൽകപ്പെട്ട ഉത്തമഭക്ഷണം തന്നെയാണ്.</p>
    </div>
  </section>

  <!-- contact -->
  <section id="section-contact" class="section appear clearfix">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Contact us</h2>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia
              non numquam.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
                data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email"
                data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"
                placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>

            <div class="text-center"><button type="submit" class="line-btn green">Send Message</button></div>
          </form>
        </div>
        <!-- ./span12 -->
      </div>

    </div>
  </section>

  <section id="footer" class="section footer">
    <div class="container">
      <div class="row animated opacity mar-bot0" data-andown="fadeIn" data-animation="animation">
        <div class="col-sm-12 align-center">
          <ul class="social-network social-circle">
            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="row align-center copyright">
        <div class="col-sm-12">
          <p>&copy; തേങ്ങാക്കൊല</p>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Green
            -->
            Designed by Team തേങ്ങാക്കൊല : Amrutha Adithyan, Basith Hameem, Reshma Alphonse</a>
          </div>
        </div>
      </div>
    </div>

  </section>
  <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

  <script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
  <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'js/fancybox/jquery.fancybox.pack.js' %}"></script>
  <script src="{% static 'js/skrollr.min.js' %}"></script>
  <script src="{% static 'js/jquery.scrollTo.js' %}"></script>
  <script src="{% static 'js/jquery.localScroll.js' %}"></script>
  <script src="{% static 'js/stellar.js' %}"></script>
  <script src="{% static 'js/responsive-slider.js' %}"></script>
  <script src="{% static 'js/jquery.appear.js' %}"></script>
  <script src="{% static 'js/grid.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script>
    wow = new WOW({}).init();
  </script>
  <script src="{% static 'contactform/contactform.js' %}"></script>

</body>

</html>
